[submodule "bash/dircolors-solarized"]
	path = bash/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "bash/liquidprompt"]
	path = bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
